body{
	background-color: #B28C6B;
	font-family: 'Goudy Bookletter 1911', serif;
}

.topAndBottom {
	display: flex;
	flex-direction: column;
}

.top {
	display: flex;
	margin-left: auto;
	margin-right: auto;
	justify-content: space-around;
}

.bottom {
	width: 90%;
	height: 200px;
	margin-left: auto;
	margin-right: auto;
}

#my-canvas {
	background-image: url("https://i.imgur.com/rDWs2S1.png");
	border: 2px solid black;
	width: 70%;
	height: 450px;

}


#rules{
	background-color: white;
	border: 2px solid black;
	margin-left: auto;
	margin-right: auto;
	height: 100px;
	margin-top: 15px;
	width: 70%;
}


#about {
/*	background-color: white;
	border: 2.5px solid black;*/
	width: 20%;
	height: 450px;
	display: flex;
	flex-direction: column;
}

#stats {
	padding: 5px;
	background-color: white;
	border: 2px solid black;
	height: 60%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

#buttons {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 39%;
	padding-top: 10px;
}


#start {
	border: 1px solid black;
	flex-grow: 1;
}

#restart {
	border: 1px solid black;
	flex-grow: 1;
}

#instructions {
	border: 1px solid black;
	flex-grow: 1;
}
